       p{
			margin-top: 50px;
			padding-left: 4px;
		}
		h1{
			font-family: sans-serif;
			margin-left: 45%;
			margin-bottom: 100px;
			margin-top: 50px;
		}		
		#box{
            width: 130px;
            height: 25px;
            border: 2px solid black;
            border-right: 0;
            border-top: 0;
            text-align: center;
            float: right;
            font-weight: bold;
            padding-top: 2px;
		}
		#content{
			width: 30%;
			height: 180px;
			background-color: gray;
			font-family: Helvetica;
			margin-left: 20px;
			margin-bottom: 20px;
            border: 2px solid black;
            font-weight: bold;
		}				
			